.glob{
    background-color: rgba(87, 155, 249, 0.94);
    background-image: url('static/images/back.jpg');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(3px);}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    height:100vh;
    width: 100%;
    background-position:top;
    background-size:contain;
    position: relative;
    top: 0px;
    left: 0px;
    height: 10px;
    border-radius:5px;
}
nav{
    background-color: rgba(8, 70, 51, 0.94);
    border: solid 2px ;
    border-color: rgba(8, 70, 51, 0.94);
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top:30px;
    padding-left: 20px;
}
.logo{
    color:white ;
    font-size: 16px;
}
nav ul{
    margin-right: 100px;
}
nav ul li{display: inline;
    display : inline-block;
    padding: 10px 30px;
}

nav ul li a:hover{

    color:white;
    transition: 0.3s;
}
nav ul li a{
    color:black;
    font-size:20px;
    transition: 0.3s;
}
.signup-signin .icon-bar{
    background-color: #FFFFFF;
    display: block;
    width: 22px;
    margin-top: 1px;
    margin-bottom: 5px;
    height: 3px;
    border-radius: 5px;
    cursor: pointer;
}